@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form asp-action="ProcessForm" method="post">
        <label for="name">Adınız:</label>
        <input type="text" id="name" name="name" />
        <br />
        <label for="email">E-posta Adresiniz:</label>
        <input type="email" id="email" name="email" />
        <br />
        <button type="submit">Gönder</button>
    </form>
    <form asp-action="RunQRScanner" method="post">
        <button type="submit">QR Okut</button>
    </form>
</div>
