
<h1>@ViewData["Title"]</h1>

    <div class="text-center">
        <form asp-action="RunQRScanner" method="post">
        <button type="submit" class="btn btn-primary">Scan QR</button>
        </form>
    </div>
